:root {
    --dark-blue-500: #052051;
    --dark-blue-400: #072B61;
    --dark-blue-300: #0A3871;
    --dark-blue-200: #356EA9;
    --dark-blue-100: #609ED4;
    --light-blue-500: #757FB2;
    --light-blue-400: #AAB2D5;
    --light-blue-300: #E9ECF8;
    --light-blue-200: #EFF1FA;
    --light-blue-100: #F3F5FC;
    --gray-500: #343A40;
    --gray-400: #495057;
    --gray-300: #868E96;
    --gray-200: #ADB5BD;
    --gray-100: #CED4DA;
    --light-gray: #D8DFE8;
    --white-500: #E0E0E0;
    --white-400: #E8E8E8;
    --white-300: #F0F0F0;
    --white-200: #F9F9F9;
    --white-100: #FFFFFF;
    --white: #FFFFFF;
}

* {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
}

body {
    display: flex;
    position: relative;
    background: linear-gradient(45deg, var(--light-blue-100), rgba(10, 56, 113, 0.2));
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

    /* header (Logo da Alura) */
    header {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

        header div {
            margin: 4vh 0vw 0px 5vw;
        }

            header img {
                box-shadow: 5px 4px 16px -4px rgba(0, 0, 0, 0.2);
            }

    /* main (Encriptador) */
    main {
        margin: 40px 0px 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 5vw;
        flex: 1;
    }

        /* section-1 */
        main > :nth-child(1) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.3vh;
            margin: 100px 0px 72px 0px;
        }

            .text-cript {
                width: 95%;
                height: 70%;
                padding: 2%;
                font-weight: 400;
                font-size: 32px;
                line-height: 130%;
                color: var(--dark-blue-300);
                resize: none;
                /* border: none; */
                border-color: var(--gray-300);
                border-radius: 16px;
                /* outline: none; */
                background: transparent;
                text-transform: lowercase;
            }

                .text-cript::placeholder {
                    color: var(--dark-blue-300);
                    text-transform: none;
                    font-size: 32px;
                    font-weight: 400;
                }

            .container-warning {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 8px;
                width: 252px;
                height: 18px;
                margin-left: 0.35vw;
            }

                .container-warning h6 {
                    width: 228px;
                    height: 18px;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    color: var(--gray-500);
                    opacity: 0.89;

                    /* temp */
                    /* flex: none;
                    order: 1;
                    flex-grow: 0; */
                }

            .container-btn {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                gap: 24px;
                width: 680px;
                height: 67px;
            }

                .btn-cript {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 24px;
                    gap: 8px;
                    width: 328px;
                    height: 67px;
                    background: var(--dark-blue-300);
                    border: 1px solid var(--white);
                    border-radius: 24px;
                    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
                }

                    .btn-cript:hover {
                        cursor: pointer;
                        background: var(--dark-blue-400);
                        border: 1.5px solid var(--white);
                        transform: scale(1.01);
                    }

                    .btn-cript:active {
                        background: var(--dark-blue-500);
                        border: 2px solid var(--white);
                        transform: scale(1);
                    }

                    .btn-cript span {
                        width: 280px;
                        height: 19px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: var(--white);
                    }

                .btn-descript {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 24px;
                    gap: 8px;
                    width: 328px;
                    height: 67px;
                    background: var(--light-blue-100);
                    border: 1px solid var(--dark-blue-300);
                    border-radius: 24px;
                    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
                }

                    .btn-descript:hover {
                        cursor: pointer;
                        background: var(--light-blue-200);
                        border: 1.5px solid var(--dark-blue-300);
                        transform: scale(1.01);
                    }

                    .btn-descript:active {
                        background: var(--light-blue-300);
                        border: 2px solid var(--dark-blue-300);
                        transform: scale(1);
                    }
                
                    .btn-descript span {
                        width: 280px;
                        height: 19px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        text-align: center;
                        color: var(--dark-blue-300);
                    }

        /* section-2 */
        main > :nth-child(2) {
            width: 400px;
            height: 98%;
            margin: 40px 0px 40px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background: var(--white);
            box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
            border-radius: 32px;
        }

            .container-withoutMsg {
                width: 80%;
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 32px;
                padding: 2%;
                background: transparent;
                border: none;
                border-radius: 16px;
            }

                .container-withoutMsg div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 16px;
                }

                    .container-withoutMsg div h2 {
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 120%;
                        color: var(--gray-500);
                        text-align: center;
                    }

                    .container-withoutMsg div h4 {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 130%;
                        color: var(--gray-400);
                        text-align: center;
                    }

            .text-descript {
                width: 82%;
                height: 82%;
                padding: 2%;
                text-transform: lowercase;
                font-size: 24px;
                font-weight: 400;
                line-height: 130%;
                color: var(--gray-400);
                resize: none;
                /* border: none; */
                /* outline: none; */
                border-color: var(--gray-300);
                border-radius: 16px;
            }

            .btn-copy {
                width: 85%;
                height: 7%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--white-100);
                border: 1px solid var(--dark-blue-300);
                border-radius: 24px;
            }

                .btn-copy:hover {
                    cursor: pointer;
                    background: var(--white-200);
                    border: 1.5px solid var(--dark-blue-300);
                    transform: scale(1.01);
                }

                .btn-copy:active {
                    background: var(--white-300);
                    border: 2px solid var(--dark-blue-300);
                    transform: scale(1);
                }

                .btn-copy span {
                    font-weight: 400;
                    font-size: 16px;
                    color: var(--dark-blue-300);
                }

    /* footer (Eu) */
    footer {
        position: absolute;
        bottom: 2%;
        left: 20vw;
    }

        footer div {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
        }

            footer div h6 {
                margin: 0;
                font-weight: 400;
                font-size: 12px;
                color: var(--gray-500);
                opacity: 0.89;
            }

            footer a {
                text-decoration: none;
            }

                footer i {
                    color: var(--gray-300);
                }

                    footer i:hover{
                        color: var(--dark-blue-400);
                    }
